<nav class="navbar navbar-expand-lg navbar-dark navigation-content">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ site.title | default: site.github.repository_name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Pages -->
      <ul class="navbar-nav mr-auto">
        {% for nav in site.navigation %}
        <li class="nav-item">
          <a class="nav-link {% if page.menu == nav.label %}active {% endif %}" href="{{ site.url }}{{ nav.href }}">{{ nav.label }}</a>
        </li>
        {% endfor %}
      </ul>

      <!-- buttons -->
      <ul class="nav navbar-nav ms-auto list-group-horizontal justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.linkedin_url }}">
            <span class="fa fa-linkedin fa-lg"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.twitter_url }}">
            <span class="fa fa-twitter fa-lg"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github_url }}">
            <span class="fa fa-github fa-lg"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.source_url }}">
            <span class="fa fa-code fa-lg"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>