---
---

@import "{{ site.theme }}";

// Theme Override
@media screen and (min-width: 80em) { .main-content { max-width: 80rem; padding: 2rem 3rem; margin: 0 auto; font-size: 1.1rem; } }

h1 { font-size: 2.25em; margin: 0.67em 0; }
// End override

.navigation-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.navigation-content {
	max-width: 80rem; 
	margin: 0 auto; 
}

// Large devices (desktops, 992px and up) - pair with navbar-expand-lg
@media (max-width: 992px) {
	.navigation-content .list-group-horizontal .nav-link {
		padding: .5rem 1rem;
	}
}

.post-entry {
	border-bottom: 1px solid #eee;
}

.post-info {
	margin-right: 1rem;
	color: #999;

	a {
		color: #999;
	}
}

.post-list-item {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 3px;
    padding-bottom: 3px;
}