---
---

// Theme Override
@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: auto;
        padding: 0.75rem;
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 42em) and (max-width: 64em) { .main-content { padding: 2rem 4rem; font-size: 1.05rem; } }
@media screen and (min-width: 64em) { .main-content { max-width: 64rem; padding: 2rem 6rem; margin: 0 auto; font-size: 1.05rem; } }
@media screen and (min-width: 80em) { .main-content { max-width: 80rem; padding: 2rem 3rem; margin: 0 auto; font-size: 1.05rem; } }

body { padding: 0; margin: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #606c71; }

a { color: #1e6bb8; text-decoration: none; }
a:hover { text-decoration: none; }

h1 { font-size: 2.25em; margin: 0.67em 0; }
// End override

// Bootstrap override
.page-item.active .page-link {
	background-color: #1e6bb8;
}
// End override

.navigation-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}

.navigation-content {
	max-width: 80rem; 
	margin: 0 auto; 
}

// Large devices (desktops, 992px and up) - pair with navbar-expand-lg
@media (max-width: 992px) {
	.navigation-content .list-group-horizontal .nav-link {
		padding: .5rem 1rem;
	}
}

.post-entry {
	border-bottom: 1px solid #eee;
}

.post-info {
	margin-right: 1rem;
	color: #999;

	a {
		color: #999;
	}
}

.post-list-item {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 3px;
    padding-bottom: 3px;
}

#search_box:focus {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}

.post-toc {
 	min-width: 17rem;

	ul {
		padding-left: 1.5em;
		list-style: none;
	}

	a {
		color: darkgray;
		display: block;
		width: 100%;

		&:hover,
		&:active,
		&.on {
			color: #159957;
			text-decoration: none;
		}
	}
}